*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(211, 211, 211, 0.897);
}

header{
    background-color: #333333;
    text-align: right;
    width: 100%;
    font-size: 15px;
    height: 20px;
    align-content: center; 
}

#vxod{
    margin-right: 20px;
    color: white;
}

#vxod:hover{
    color: rgb(250, 16, 16);
}

#log{
    padding: 10px 2%;
    height: 70%;
    

}

nav ul li{
    position: relative;
    float: right;
    color: white;
    padding: 5px 2%;
    right: 5px;
    display: inline;
    background-color: chocolate;
    margin: 0 15px 0 0;

} 



.nast:hover{
    color: rgb(102, 100, 248);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#bg_fut{
    background-color: rgb(43, 42, 42);
    margin-bottom: 40px;
    align-content: center;
    height: 60px;
    

}

.left_selection{
    float: left;
    height: 5000px;
    width: 19%;
    border-radius: 0px 10px 10px 0px;
    background-color: #D9ECF4;
}

.title_left{
    /* border: 1px solid black; */
    border-radius: 0px 10px 0px 0px;
    background-color: #B0CCD7;
    color: #004458;
    align-content: center;
    text-align: left;
    font-size: 18px;
    height: .7%;
}

p{
    margin: 0px 5%;
}

#scr{
    text-align: center;
    border-bottom: 0.1px solid rgb(39, 39, 39);
    height: 30px;
    align-content: center;
    text-align: left;
    transition: 1s;
    font-size: 14px;
}

li:hover{
    background-color: burlywood;
}

.scr{
    color: #376572;
    text-align: center;
    margin: 0px 5%;
}

a{
    text-decoration: none;
}

#bel{
    background-color: white;
    height: 5000px;
    width: 80%;
    float: right;
    border-radius: 10px 0px 0px 0px;
}

#voiti{
    background-color: #007BFF;
    height: 1%;
    width: 95%;
    font-size: 20px;
    border-radius: 5px;
    margin: 2% 4%;
    text-align: center;
    align-content: center;
    float: left;
    transition: 1s;
    

    
    
}

#voiti:hover{
    background-color: rgb(0, 0, 0);
}

a{
    color: white;
}

nav ul li ul {
    margin: 7px 0px 0 0;
    display: none;
}


nav ul li:hover > ul{
    display: initial;
    margin: 7px 0px 0 0;
}